{% extends 'layout.html.twig' %}

{% block content %}
<!-- header -->
<img src="/assets/images/TITLE.png" alt="" class="header">

<!-- title + instructions -->

<h2>chosir ton artiste et ton beat</h2>

<!-- body -->


<div class="body">

    <!-- aside gauche -->

    <aside class="aside-left">
        <h3>chosir ton artiste</h3>
        <ul>
            <li>

            </li>
        </ul>
    </aside>

    <!-- button play -->

    <center>
        <div class="play">

        </div>

    </center>


    <!-- aside droit -->

    <aside class="aside-right">

        <h3>chosir beat</h3>
        <ul>
            <li>

            </li>
        </ul>
    </aside>
</div>

{% endblock %}